<!DOCTYPE html>
<html>
<head>
  <title>RockPaperScissors</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
  <ul>
    <li><%= link_to("play rock", controller: "games", action: "play_rock") %></li>
    <li><%= link_to("play paper", controller: "games", action: "play_paper") %></li>
    <li><%= link_to("play scissors", controller: "games", action: "play_scissors") %></li>
  </ul>
  <hr />

  <%= yield %>

</body>
</html>
